.linkWrapper {
    cursor: pointer;
}

.paginationWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.breakWrapper {
    display: block;
    margin: 0 .4rem;
}

.pageLink {
    composes: linkWrapper;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.25rem;
}

.pageLink:hover {
    background: #eee;
}
